@use '../../global.scss' as *;

footer{
    height: 28vh;
}

.contato{
    background: $emphasis;
    color: $primary-color;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    nav{
        width: 15vw;
        display: flex;
        justify-content: space-between;
    }
}

.infoSite{
    background-color: #232020;
    color: $primary-color;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media(max-width: 1000px){
    .contato{
        nav{
            width: 220px;
        }
    }
}

@media(max-width: 479px){
    .contato{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .infoSite{
        p{
            text-align: center;
        }
    }
}