*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

$primary-color:#FFFFFF;
$emphasis: linear-gradient(to right, #001b2f, #005695);
$text-color: #000000;
$title-color: #005695;

